#in {
  width: 90%;
  border: 2px #cccccc solid;
  padding: 0 30px 15px;
  border-collapse: collapse;
  margin: auto;
}


tr td:last-child {
  padding: 10px;
}

tr td {
  border: 2px #cccccc solid;
}

th {
  border: 2px #cccccc solid;
  background-color: #dddddd;
}

#gray {
  background-color: lightgray;
  color: #373737;
}

#bkbt {
  background-color: #373737;
}

#rdask {
  color: red;
  font-weight: normal;
  border: none;
}

#rdbt {
  background-color: #ff2222;
}

#regBtn {
  border-radius: 3px;
    border: none;
    width: 100px;
    height: 30px;
    color: #373737;
    font-weight: bold;
    cursor: pointer;
}

.button {
  color: #373737;
  border-radius: 3px;
  border: none;
  font: 10px bold;
  padding: 2px 5px;
}